.kosen_orange {
color: #f26221;
}

.kosen_blue {
color: #007ac2;
}

.highlight {
font-size: 200%;
}

.ME {
color: #620eb5;
}

.CE {
color: #8f0d23;
}

.EE {
color: #228542;
}

.img_left{
float: left;
}
.img_right{
float: right;
}
.img_padding{
padding-top: 20px;
}
.header_padding{
padding-top: 250px;
padding-bottom: 50px;
}
.txt_padding{
padding: 10px 100px;
}
