.kosen_orange {
  color: #f26221;
  font-family: "Times New Roman", Times, serif;
}

.kosen_blue {
  color: #007ac2;
  font-family: "Times New Roman", Times, serif;
}

.highlight {
  font-size: 300%;
  font-weight: bold;
}

.ME {
  color: #620eb5;
}

.CE {
  color: #8f0d23;
}

.EE {
  color: #228542;
}

.medium {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
}

.img_left{
  float: left;
  padding-right: 50px;
}
.img_right{
  float: right;
  padding-left: 50px;
}
.img_padding{
  padding-top: 20px;
}
.header_padding{
  padding-top: 250px;
  padding-bottom: 50px;
}
.txt_padding{
  padding-top: 10px;
  margin-right: 150px;
  margin-left: 150px;
}
.big-text{
  font-size: 24px;
}
